{% extends 'base.html.twig' %}

{% block title %}New Truck{% endblock %}

{% block body %}
    <h1>Create new Truck</h1>

    {{ include('truck/_form.html.twig') }}

    <a href="{{ path('truck_index') }}">back to list</a>
{% endblock %}
